name: workflow_example
on:
  push:
    branches: 
      - main

jobs:
  clone_repo:
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@v4

      - name: run shell script
        run: ./scripts/print.sh
    