name: " artifacts revision"
env:
  password: 123
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    env:
     password: 456
    runs-on: ubuntu-latest
    steps:
      - name: "echo stuff"
        run: |
              echo "hello brother " ${{env.password}} from job level env 
      - name: "echo password"
        run: echo ${{env.password}} from steplevel env 
        env: 
          password: 789

  job_B:
    runs-on: ubuntu-latest
    steps:
      - name: "echo password but it will do from workflow level env "
        run : echo ${{env.password}} is from workflow/global level env 
      
  

      

