name: " precedence"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    if : ${{ (1==1 ||1!=1) && 2>3}}
    runs-on: ubuntu-latest
    steps:
      - name: "print hello world"
        run: |
              echo "hello world"
  


        

