name: " precedence"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    runs-on: ubuntu-latest
    steps:
      - run: non-exising command 
      - name: "print hello world"
        if : failure()
        run: |
              echo "hello world"
  


        

