name: artifacts example
on:
  pull_request:
    branches:
      - main
      - master

jobs:
  upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: "write name"
        run: echo 'name=AayamPokharel' >> ./info.txt
      - name: "upload artifacts"
        uses: actions/upload-artifact@v5
        with:
          name: info.txt
          path: ./info.txt
  
  download-artifacts:
    runs-on: ubuntu-latest
    needs: upload-artifacts
    steps:
      - name: "get artifact"
        uses: actions/download-artifact@v5
        with:
          name: info.txt
          path: ./
      - name: "output the content of the file"
        run: cat ./info.txt