name: "step context practice"
on: 
   pull_request:
    branches:
      - main
      - master
jobs: 
  deploy:
    runs-on: ubuntu-latest
    if:   github.head_ref == 'testing' 

    steps:
      - name: "set up variable"
        id: variable_setup
        run: echo "needs_frontend_test=true" >> $GITHUB_OUTPUT
      - name: "use that variable in if logic "
        if: ${{steps.variable_setup.outputs.needs_frontend_test == 'true'}}
        run: echo "this does run "