name: "skip workflow if file changed"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    runs-on: ubuntu-latest
    outputs:
      can_run_job_B: ${{steps.status_check.outputs.src_files_changed}}
    steps:
      - name: "clone the repository"
        uses: actions/checkout@v5
        with: 
          fetch-depth: 0
      - name: "check status of sh file in folder"
        id: status_check
        run: | 
               git diff --name-only HEAD^ HEAD > changed_files.txt
               while read -r line ;do
               echo $line
                srcFilePath="${line#*/}"
                   srcNameIfExists=${srcValue:0:3}
                   if [[ srcNameIfExists == "src" ]];then
                    echo "src_files_changed=true" >> $GITHUB_OUTPUTS
                   fi
                done < ./changed_files.txt
              
  job_B:
    needs: job_A
    if: ${{ needs.job_A.outputs.can_run_job_B == 'true'  }}
    runs-on: ubuntu-latest
    steps:
      - run: echo hello world 
              
  


        

