name: "if conditions practice"
on: 
   pull_request:
    branches:
      - main
      - master



jobs: 
  deploy:
    runs-on: ubuntu-latest
    if:   github.head_ref == 'testing' 

    steps:
      - name: "testing"
        run: |
               [[ 1 -eq 1 ]] 
      - name: "print value"
        run : echo "==end=="


