name: "skip workflow if file changed"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    runs-on: ubuntu-latest
    steps:
      - name: "clone the repository"
        id: hello
        uses: actions/checkout@v5
        with: 
          fetch-depth: 0
      - name: "check status of sh file in folder"
        run: | 
              set -x 
              echo ${{steps.hello.outputs}} is good 
              
  


        

