name: "step context practice"
on: 
   pull_request:
    branches:
      - main
      - master
jobs: 
  deploy:
    runs-on: ubuntu-latest
    if:   github.head_ref == 'testing' 

    steps:
      - name: "pass output to another step"
        id: for_output
        run: |
               echo "something=true" >> $GITHUB_OUTPUT
      - name: "print that result"
        run: |  
              echo ${{steps.for_output.outputs.something}} is the result


