name: "skip workflow if file changed"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    runs-on: ubuntu-latest
    steps:
      - name: "clone the repository"
        uses: actions/checkout@v5
      - name: "check status of sh file in folder"
        run: | 
               git diff --name-only HEAD^ HEAD > changed_files.txt
               while read -r line ;do
               echo $line
                done < ./changed_files.txt
              
        
              
  


        

