name: "skip workflow if PR" 
on: 
  push:
    branches:
      - main
  pull_request: 
    branches: 
      - main 
      - master 
jobs: 
  job_A:
    runs-on: ubuntu-latest
    steps: 
      - name: "echo in a PR "
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "hello"
      - name: "echo if not a PR"
        if: failure()
        run: echo "this is not PR . "
              
              