name: path example
on:
  pull_request:
    branches:
      - main
      - master
    paths:
      - 'bash_scripting/**'
jobs:
  simple_job:
    runs-on: ubuntu-latest 
    steps:
      - name: "display name"
        run: echo 'name=AayamPokharel' 
  
  