name: sharing-artifacts-example
on:
  pull_request:
    branches:
      - master
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "have go "
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5" 
      - name: "repository clone"
        uses: actions/checkout@v5

      - name: "build go"
        run: go build -o ./scripts/go-output.exe
      - name: "run go"
        run: go run ./scripts/go-output.exe

