name: passing through artifacts
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  producer:
    runs-on: ubuntu-latest
    env:
       name: "hello from env of producer"
    steps:
      - name: "print envvalue"
        run: |
              echo "hello ${{env.name}}"
      - name: "upload to github output"
        id: for_upload
        run: |
              echo producer_output='${{env.name}}' >> ./output.txt
      - name: "upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: outputss 
          path: ./output.txt

  consumer:
    runs-on: ubuntu-latest
    needs: producer
    steps:
      - name: "download artifacts"
        uses: actions/download-artifact@v4
        with:
          name: outputss
          path: ./
      - name: "use artifacts"
        run: |
                echo "hello"
                ls -R
 

