name: " artifacts revision"
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  job_A:
    runs-on: ubuntu-latest
    steps:
      - name: "make a file"
        run: |
              echo "hello brother " > hello.txt
      - name: "upload as artifact"
        uses: actions/upload-artifact@v4
        with:
          name: "hello file"
          path: ./hello.txt
  
  job_B:
    runs-on: ubuntu-latest
    steps:
      - name: "download artifact"
        uses: actions/download-artifact@v4
        with:
          name: "hello file"
          path: ./
      - name: "file path"
        run: ls -R
      - name: "print contents of downloaded artifacts"
        run: |
               cat < ./hello.txt
      

