name: "skip workflow if PR" 
on: 
  push:
    branches:
      - main
  pull_request: 
    branches: 
      - main 
      - master 
    paths:
      - '*/src/**'
jobs: 
  job_A: 
    runs-on: ubuntu-latest 
    steps: 
      - name: "clone the repository" 
        uses: actions/checkout@v5 
        with: 
          fetch-depth: 0 
      - name: "check status of sh file in folder if changed" 
        id: status_check
        if: ${{(github.event_name == 'pull_request')}}
        run: |
               echo "this shouldn't be printed if its a PR"
              
              