name: "step context practice"
on: 
   pull_request:
    branches:
      - main
      - master
jobs: 
  deploy:
    runs-on: ubuntu-latest
    if:   github.head_ref == 'testing' 

    steps:
      - name: "set up variable"
        id: variable_setup
        run: echo "needs_frontend_test=true" >> $GITHUB_OUTPUT
      - name: "use that variable in if logic "
        run: |
               [[1 + 2]] #wrong cmd
      - name: "run only in failure"
        if: failure()
        run: echo "this is only run during failure"