name: first_example
on: 
    pull_request:
        branches:
            - main
            - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: "clone the repo"
              uses: actions/checkout@v4
            
            - name: "know current working directory"
              run: pwd
            - name: "run go command"
              run: |
               echo "hello bro"
               echo "after false"
               echo ${{ secrets.MY_PRACTICE_KEY}}
            - name: "run artifact"
              uses: actions/download-artifact@v4
              with:
                name: first_artifact



              
