name: "env setup"
on: 
  pull_request:
   branches:
     - main
     - master 

jobs: 
  set-env:
    env: 
      DB_PASS: password123
      PASS_FROM_SECRETS: ${{secrets.MY_API_KEY}}
    runs-on: ubuntu-latest
    steps: 
      - name: "clone repo"
        uses: actions/checkout@v5
      - name: "setup go"
        uses: actions/setup-go@v5
        with: 
          go-version: "1.25.5"
