name: "passing outputs between jobs"
on:
  pull_request:
    branches:
      - main
      - master

jobs:
  job_A:
    runs-on: ubuntu-latest
    outputs:
      email: ${{vars.MY_NAME}}
    steps:
      - name: "pass output"
        id: output_email
        run: echo "email=weirdomemess@gmail.com" >> $GITHUB_OUTPUT
  job_B:
    needs: job_A
    runs-on: ubuntu-latest
    steps:
      - name: "print output from jobA"
        run: |
               echo ${{needs.job_A.outputs.email}} is my name
               if [[ ${{needs.job_A.outputs.email}} == "Aayam Pokharel" ]];then
               echo "production"
               else 
               echo "deploying to TEST"
               fi