name: env revision
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  producer:
    runs-on: ubuntu-latest
    env:
       name: "hello from env of producer"
    steps:
      - name: "print envvalue"
        run: |
              echo "hello ${{env.name}}"
 

