name: to know whats stored in github_outputs
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  producer:
    runs-on: ubuntu-latest
    steps:
      - name: "upload in github_outputs"
        run: echo "hello=hello" >> $GITHUB_OUTPUT
      - id: second_step
        run: | 
               echo "world=GLOBE_" >> $GITHUB_OUTPUT
               echo $GITHUB_OUTPUT
               cat $GITHUB_OUTPUT
      - run: |
               cat $GITHUB_OUTPUT
               echo $GITHUB_OUTPUT
               echo ${{steps.second_step.outputs.world}} is great

