name: to know whats stored in github_outputs
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  producer:
    runs-on: ubuntu-latest
    env:
       name: "hello from env of producer"
    steps:
      - name: "upload in github_outputs"
        run: echo "hello=hello" >> $GITHUB_OUTPUT
      - run: echo "world=world" >> $GITHUB_OUTPUT
      - run: cat $GITHUB_OUTPUT
 

