name: "env scope practice"
on: 
   pull_request:
    branches:
      - main
      - master
env: 
  password: 789
jobs: 
  env_scope_use:
   env:
    password: 123
   runs-on: ubuntu-latest  
   steps:
      - name: "hello with env step scoped "
        run: echo ${{env.password}}
        env:
          password: 456
      - name: "hello "
        run: echo ${{env.password}}
  