name: "matrix-example"
on: 
  pull_request:
    branches:
      - main
      - master
    
jobs: 
  environment-setup: 
    strategy:
      matrix:
        os: [ubuntu-latest,windows-latest]
        go-version: ["1.25.6", "1.25.5","1.25.4","1.25.3"]
    runs-on: ${{matrix.os}}
    steps:
      - name: "run this command" 
        run: |
              echo "helloo world "
              echo "this is simple example of matrix usecase"
      - name: "clone repo"
        uses: actions/checkout@v5
      
      - name: "go setup"
        uses: actions/setup-go@v5
        with: 
          go-version: ${{matrix.go-version}}
      - name: "run go command"
        run: |
               go run . 
      

    