name: sharing-artifacts-example
on:
  pull_request:
    branches:
      - master
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "have go "
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5" 
      - name: "repository clone"
        uses: actions/checkout@v5

      - name: "build go"
        run: go build -o ./scripts/go-output
      - name: "upload artifact "
        uses: actions/upload-artifact@v5
        with: 
          name: "go-output"
          path: ./scripts/go-output
      - name: "verify upload"
        run: |
              ls -l scripts
  
  run-go: 
    needs: build
    runs-on: ubuntu-latest 
    steps: 
      - name: "download artifact"
        uses: actions/download-artifact@v5
        with:
          name: "go-output"
          path: ./
      - name: "path of executable"
        run: |
             find .
    

