name: "github output practice"
on: 
   pull_request:
    branches:
      - main
      - master
jobs: 
   github_output_use:
    runs-on: ubuntu-latest
    steps:
      - name: "update key-value pair to GITHUB OUTPUT"
        id: update
        run: echo "echo=true" >> $GITHUB_OUTPUT
      - name: "retrieving value"
        run: echo ${{steps.update.outputs.echo}}