name: "skip workflow if PR" 
on: 
  push:
    branches:
      - main
  pull_request: 
    branches: 
      - main 
      - master 
jobs: 
  job_A:     
    runs-on: ubuntu-latest
    steps: 
      - run: echo "hello world this is from job_A " > hi.txt
      - name: "set up artifacts"
        uses: actions/upload-artifact@v5
        with: 
          name: hi.txt
          path: ./

  job_B:
    needs: job_A
    runs-on: ubuntu-latest
    steps:
      - name: "download artifact"
        uses: actions/download-artifact@v5
        with: 
          name: hi.txt
          path: ./
      - name: "read the file"
        run: cat ./output.txt
              
              