name: " passing output between jobs"
env:
  password: 123
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  
  job_A:
    outputs:
      password_output: ${{steps.password_provider.outputs.password}}
    runs-on: ubuntu-latest
    steps:
      - name: "provide key value to output file"
        id: password_provider
        run: |
              echo "password=pass@123" >> $GITHUB_OUTPUT

  job_B:
    needs: job_A
    runs-on: ubuntu-latest
    steps:
      - name: "print from the passed stuff"
        run : echo ${{needs.job_A.outputs.password_output}} is the output from job A
      
  

      

