name: "github context practice"
on: 
   pull_request:
    branches:
      - main
      - master
jobs: 
   check_github:
    runs-on: ubuntu-latest
    steps:
      - name: "check for PR branch"
        if: github.head_ref=='testing'
        run: echo "hello from testing"