name: "matrix-example"
on: 
  pull_request:
    branches:
      - main
      - master
    
jobs: 
  environment-setup: 
    strategy:
      matrix:
        os: [ubuntu-latest,windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: "run this command" 
        run: |
              echo "helloo world "

      

        


