name: using golang to transfer build 
on: 
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      bash_script_check: ${{ steps.bash_scripting_check.outputs.bash_scripting_check }}
    steps:
      - name: "clone repo" 
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: "check the folder and set output "
        id: bash_scripting_check
        run: | 
               ls -R   
                git diff --name-only origin/master...HEAD  >> ./output.txt
                shopt -s globstar
                while read r;do
                echo $r
                if [[ $r == bash_scripting/* || $r == ./bash_scripting/* ]];then
                echo "bash_scripting_check=true" >> $GITHUB_OUTPUT
                fi
                done < ./output.txt

               

              

  execute:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.bash_script_check == 'true' }}
    steps:
      - name: echo hello
        run: echo hello