name: env revision
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  producer:
    runs-on: ubuntu-latest
    env:
       name: "hello from env of producer"
    outputs:
      name_outuput: ${{steps.for_upload.outputs.producer_output}}
    steps:
      - name: "print envvalue"
        run: |
              echo "hello ${{env.name}}"
      - name: "upload to github output"
        id: for_upload
        run: |
              echo producer_output=${{env.name}} >> $GITHUB_OUTPUT


  consumer:
    runs-on: ubuntu-latest
    needs: producer
    steps:
      - name: "use env of producer"
        run: echo ${{needs.producer.outputs}}

 

